<div style="
  font-family: Inter, Segoe UI, system-ui, -apple-system, Arial, sans-serif;
  background: linear-gradient(90deg,#0ea5e9 0%, #2563eb 55%, #0f172a 100%);
  color: #eef2f7;
  padding: 28px 28px 24px 28px;
  border-radius: 14px;
  box-shadow: 0 14px 36px rgba(2,6,23,.35);
  border: 1px solid rgba(255,255,255,.08);
">
  <div style="display:flex; align-items:center; gap:14px;">
    <div style="
      width:44px;height:44px;border-radius:12px;display:grid;place-items:center;
      background: radial-gradient(60% 60% at 30% 30%, #e0f2fe 0%, #bae6fd 45%, #7dd3fc 100%);
      color:#0f172a; font-size:24px; box-shadow: 0 8px 22px rgba(14,165,233,.35);
      border:1px solid rgba(255,255,255,.35);
    ">‚öôÔ∏è</div>
    <div>
      <h1 style="margin:0;font-size:34px;font-weight:800;letter-spacing:.2px;">Projet Data Engineering</h1>
      <div style="margin-top:4px;font-size:18px;opacity:.95;">
        Web scraping ‚Ä¢ ETL modulaire ‚Ä¢ Qualit√© des donn√©es ‚Ä¢ Export CSV/Excel ‚Ä¢ API/Flask
      </div>
    </div>
  </div>
  <div style="display:flex; flex-wrap:wrap; gap:8px; margin-top:14px;">
    <span style="padding:6px 12px;border-radius:999px;background:rgba(15,23,42,.35);border:1px solid rgba(255,255,255,.18);">Pipelines</span>
    <span style="padding:6px 12px;border-radius:999px;background:rgba(15,23,42,.35);border:1px solid rgba(255,255,255,.18);">Scraping (requests/BS4)</span>
    <span style="padding:6px 12px;border-radius:999px;background:rgba(15,23,42,.35);border:1px solid rgba(255,255,255,.18);">Pandas</span>
    <span style="padding:6px 12px;border-radius:999px;background:rgba(15,23,42,.35);border:1px solid rgba(255,255,255,.18);">Anomalies & Encodage</span>
    <span style="padding:6px 12px;border-radius:999px;background:rgba(15,23,42,.35);border:1px solid rgba(255,255,255,.18);">Flask/Dashboard</span>
  </div>
</div>

<div style="background: linear-gradient(to right, #e1f5fe, #b3e5fc); padding: 20px 24px; border-left: 10px solid #0288d1; border-radius: 12px; box-shadow: 0 2px 8px rgba(0,0,0,0.1); margin: 30px 0; font-family: 'Segoe UI', sans-serif;">
  <h2 style="margin: 0; font-size: 22px; color:#01579b;">
    üåê √âtape 1 ‚Äî Web Scraping
  </h2>
  <p style="margin-top: 8px; font-size: 15px; color:#004d40;">
    Extraction des donn√©es depuis le site web
  </p>
</div>

In [1]:
from extraction.scraper import ScraperCacao

In [2]:
df=ScraperCacao.extract_data()

In [3]:
df.head(10)

,Company,Origine sp√©cifique du harirot,REF,Date de la revue,Pourcentage de cacao,Localisation de l'entreprise,Note,Type de f√®ve,Broad Bean Origin
0,A. Morin,Agua Grande,1876,2016,63%,France,3.75,,Sao Tome
1,A. Morin,Kpime,1676,2015,70%,France,2.75,,Togo
2,A. Morin,Atsane,1676,2015,70%,France,3.00,,Togo
3,A. Morin,Akata,1680,2015,70%,France,3.50,,Togo
4,A. Morin,Quilla,1704,2015,70%,France,3.50,,Peru
5,A. Morin,Carenero,1315,2014,70%,France,2.75,Criollo,Venezuela
6,A. Morin,Cuba,1315,2014,70%,France,3.50,,Cuba
7,A. Morin,Sur del Lago,1315,2014,70%,France,3.50,Criollo,Venezuela
8,A. Morin,Puerto Cabello,1319,2014,70%,France,3.75,Criollo,Venezuela
9,A. Morin,Pablino,1319,2014,70%,France,4.00,,Peru

<div style="background: #e0fafa; padding: 20px 24px; border-left: 8px solid #008080; border-radius: 10px; font-family: 'Segoe UI', sans-serif; box-shadow: 0 1px 4px rgba(0,0,0,0.08); margin: 0 0 20px 0;">
  <h2 style="margin: 0; font-size: 18px; color: #005f5f;">üíæ Stockage dans data/raw</h2>
</div>

In [4]:
from data.load.save_raw_data import SaveRawData

In [5]:
SaveRawData.save(df)

Dataset brut sauvegard√© dans : data/raw\cacao_raw.csv

<div style="background: #ffdead; padding: 18px 20px; border-left: 8px solid #c68b00; border-radius: 10px; font-family: 'Segoe UI', sans-serif; box-shadow: 0 1px 4px rgba(0,0,0,0.08); margin: 0;">
  <h2 style="margin: 0; font-size: 18px; color: #5d3a00;">üîß √âtape 2 ‚Äî Nettoyage des donn√©es</h2>
  <p style="margin-top: 8px; font-size: 15px; color: #5d3a00;">
    Remplacement des cellules vides par NaN et d√©tection des probl√®mes de qualit√©
  </p>
</div>

In [6]:
from transformation.remplacer_valeur import Nettoyeur

In [7]:
df = Nettoyeur.clean_empty_cells(df)

In [8]:
df.head()

,Company,Origine sp√©cifique du harirot,REF,Date de la revue,Pourcentage de cacao,Localisation de l'entreprise,Note,Type de f√®ve,Broad Bean Origin
0,A. Morin,Agua Grande,1876,2016,63%,France,3.75,NaN,Sao Tome
1,A. Morin,Kpime,1676,2015,70%,France,2.75,NaN,Togo
2,A. Morin,Atsane,1676,2015,70%,France,3.00,NaN,Togo
3,A. Morin,Akata,1680,2015,70%,France,3.50,NaN,Togo
4,A. Morin,Quilla,1704,2015,70%,France,3.50,NaN,Peru

<!-- üîç D√©tection des caract√®res -->
<div style="background: #fce4ec; padding: 20px 24px; border-left: 8px solid #ba2d65; border-radius: 10px; font-family: 'Segoe UI', sans-serif; box-shadow: 0 1px 4px rgba(0,0,0,0.08); margin: 0;">
  <h2 style="margin: 0; font-size: 18px; color: #673147;">üîç D√©tection des caract√®res</h2>
  <p style="margin-top: 8px; font-size: 15px; color: #673147;">
    Contr√¥le des caract√®res de contr√¥le, sp√©ciaux et probl√®mes d'encodage
  </p>
</div>

<!-- ‚ö†Ô∏è Caract√®res de contr√¥le -->
<div style="background: #fff3e0; padding: 20px 24px; border-left: 8px solid #ff9800; border-radius: 10px; font-family: 'Segoe UI', sans-serif; box-shadow: 0 1px 4px rgba(0,0,0,0.08); margin: 0;">
  <h2 style="margin: 0; font-size: 18px; color: #ff4500;">‚ö†Ô∏è Caract√®res de contr√¥le</h2>
</div>

In [9]:

# Import du module de d√©tection 
from transformation.detecteur_caracteres_controle import DetecteurCaracteresControle

In [10]:
df=DetecteurCaracteresControle.detecter_caracteres_controle(df)

Aucun caract√®re de contr√¥le d√©tect√© - DataFrame propre

<!-- üî§ Caract√®res sp√©ciaux -->
<div style="background: #fff0eb; padding: 20px 24px; border-left: 8px solid #ff8c69; border-radius: 10px; font-family: 'Segoe UI', sans-serif; box-shadow: 0 1px 4px rgba(0,0,0,0.08); margin: 0;">
  <h2 style="margin: 0; font-size: 18px; color: #c94e3f;">üî§ Caract√®res sp√©ciaux</h2>
  <p style="margin-top: 8px; font-size: 14px; color: #4a2b2b;">
    D√©tection et suppression des caract√®res sp√©ciaux en d√©but et fin de cha√Ænes
  </p>
</div>

In [11]:
import importlib
import sys

In [12]:
from transformation.detecteur_caracteres_speciaux import DetecteurCaracteresSpeciaux

In [13]:
df=DetecteurCaracteresSpeciaux.detecter_caracteres_speciaux(df)

Caract√®res sp√©ciaux d√©tect√©s et supprim√©s:
  Colonne 'Origine sp√©cifique du harirot':
    - Ligne 1638: 'Capistrano*' (fin: *)
    - Ligne 1641: 'Concepcion*' (fin: *)
  Colonne 'Type de f√®ve':
    - Ligne 767: 'Criollo, +' (fin: +)

<!-- üî§ Caract√®res mal encod√©s -->
<div style="background: #fff1ed; padding: 20px 24px; border-left: 8px solid #ff2400; border-radius: 10px; font-family: 'Segoe UI', sans-serif; box-shadow: 0 1px 4px rgba(0,0,0,0.08); margin: 0;">
  <h2 style="margin: 0; font-size: 18px; color: #b91c00;">üî§ Caract√®res mal encod√©s</h2>
  <p style="margin-top: 8px; font-size: 14px; color: #a81800;">
    D√©tection et correction des probl√®mes d'encodage (ex: "Nave" ‚Üí "Naive")
  </p>
</div>

In [14]:
from transformation.detecteur_problemes_encodage import DetecteurProblemesEncodage

In [15]:
df=DetecteurProblemesEncodage.detecter_problemes_encodage(df)

üîç Probl√®mes d'encodage (r√©sum√©)
==================================================
DataFrame: 1795 lignes, 9 colonnes

‚Ä¢ Colonne: Company  (‚ö†Ô∏è 3 valeur(s))
   - Ligne 1165: 'NaÔøΩve' ‚Üí 'Naive'
   - Ligne 1166: 'NaÔøΩve' ‚Üí 'Naive'
   - Ligne 1167: 'NaÔøΩve' ‚Üí 'Naive'

In [16]:
df.head(1167)

,Company,Origine sp√©cifique du harirot,REF,Date de la revue,Pourcentage de cacao,Localisation de l'entreprise,Note,Type de f√®ve,Broad Bean Origin
0,A. Morin,Agua Grande,1876,2016,63%,France,3.75,NaN,Sao Tome
1,A. Morin,Kpime,1676,2015,70%,France,2.75,NaN,Togo
2,A. Morin,Atsane,1676,2015,70%,France,3.00,NaN,Togo
3,A. Morin,Akata,1680,2015,70%,France,3.50,NaN,Togo
4,A. Morin,Quilla,1704,2015,70%,France,3.50,NaN,Peru
...,...,...,...,...,...,...,...,...,...
1162,Naive,Trinidad & Tobago,1046,2013,70%,Lithuania,3.75,NaN,"Trinidad, Tobago"
1163,Naive,"Maranon Canyon, Fortunato No. 4",1133,2013,78%,Lithuania,3.75,Forastero (Nacional),Peru
1164,Naive,Grenada,867,2012,71%,Lithuania,2.50,Trinitario,Grenada
1165,Naive,Nicaragua,1379,2014,70%,Lithuania,3.25,Criollo,Nicaragua
1166,Naive,Chuao,1399,2014,75%,Lithuania,2.75,Trinitario,Venezuela

<div style="background: #f9edf2; padding: 20px 24px; border-left: 8px solid #8a496b; border-radius: 10px; font-family: 'Segoe UI', sans-serif; box-shadow: 0 1px 4px rgba(0,0,0,0.08); margin: 0 0 20px 0;">
  <h2 style="margin: 0; font-size: 18px; color: #8a496b;"> Supprime le symbole '%' et convertit la colonne pourcentage de cacao en float</h2>
  
</div>

In [17]:
from transformation.pourcentage_cacao import TransformateurPourcentageCacao

In [18]:
df=TransformateurPourcentageCacao.transformer_pourcentage(df)

Colonne 'Pourcentage de cacao' transform√©e : % supprim√© et valeurs converties en float.

In [19]:
df.head(10)

,Company,Origine sp√©cifique du harirot,REF,Date de la revue,Pourcentage de cacao,Localisation de l'entreprise,Note,Type de f√®ve,Broad Bean Origin
0,A. Morin,Agua Grande,1876,2016,63.0,France,3.75,NaN,Sao Tome
1,A. Morin,Kpime,1676,2015,70.0,France,2.75,NaN,Togo
2,A. Morin,Atsane,1676,2015,70.0,France,3.00,NaN,Togo
3,A. Morin,Akata,1680,2015,70.0,France,3.50,NaN,Togo
4,A. Morin,Quilla,1704,2015,70.0,France,3.50,NaN,Peru
5,A. Morin,Carenero,1315,2014,70.0,France,2.75,Criollo,Venezuela
6,A. Morin,Cuba,1315,2014,70.0,France,3.50,NaN,Cuba
7,A. Morin,Sur del Lago,1315,2014,70.0,France,3.50,Criollo,Venezuela
8,A. Morin,Puerto Cabello,1319,2014,70.0,France,3.75,Criollo,Venezuela
9,A. Morin,Pablino,1319,2014,70.0,France,4.00,NaN,Peru

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1795 entries, 0 to 1794
Data columns (total 9 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Company                        1795 non-null   object
 1   Origine sp√©cifique du harirot  1795 non-null   object
 2   REF                            1795 non-null   object
 3   Date de la revue               1795 non-null   object
 4   Pourcentage de cacao           1795 non-null   float64
 5   Localisation de l'entreprise   1795 non-null   object
 6   Note                           1795 non-null   float64
 7   Type de f√®ve                   907 non-null    object
 8   Broad Bean Origin              1721 non-null   object
dtypes: float64(2), object(7)
memory usage: 126.3+ KB

<div style="background:#e8eaf6; padding: 12px; border-left: 5px solid #3f51b5; border-radius: 6px;">
  <h3 style="margin:0; font-size: 20px; color:#1a237e;">Mettre la colonne date de revue et REF en type int</h3>
</div>

In [21]:
from transformation.type_colonne import TypeColonne

In [22]:
df=TypeColonne.convertir_colonnes(df, ["Date de la revue", "REF"], int)

In [23]:
df.head(10)

,Company,Origine sp√©cifique du harirot,REF,Date de la revue,Pourcentage de cacao,Localisation de l'entreprise,Note,Type de f√®ve,Broad Bean Origin
0,A. Morin,Agua Grande,1876,2016,63.0,France,3.75,NaN,Sao Tome
1,A. Morin,Kpime,1676,2015,70.0,France,2.75,NaN,Togo
2,A. Morin,Atsane,1676,2015,70.0,France,3.00,NaN,Togo
3,A. Morin,Akata,1680,2015,70.0,France,3.50,NaN,Togo
4,A. Morin,Quilla,1704,2015,70.0,France,3.50,NaN,Peru
5,A. Morin,Carenero,1315,2014,70.0,France,2.75,Criollo,Venezuela
6,A. Morin,Cuba,1315,2014,70.0,France,3.50,NaN,Cuba
7,A. Morin,Sur del Lago,1315,2014,70.0,France,3.50,Criollo,Venezuela
8,A. Morin,Puerto Cabello,1319,2014,70.0,France,3.75,Criollo,Venezuela
9,A. Morin,Pablino,1319,2014,70.0,France,4.00,NaN,Peru

In [24]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1795 entries, 0 to 1794
Data columns (total 9 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Company                        1795 non-null   object
 1   Origine sp√©cifique du harirot  1795 non-null   object
 2   REF                            1795 non-null   int64
 3   Date de la revue               1795 non-null   int64
 4   Pourcentage de cacao           1795 non-null   float64
 5   Localisation de l'entreprise   1795 non-null   object
 6   Note                           1795 non-null   float64
 7   Type de f√®ve                   907 non-null    object
 8   Broad Bean Origin              1721 non-null   object
dtypes: float64(2), int64(2), object(5)
memory usage: 126.3+ KB

<div style="background:#e0f2f1; padding: 16px; border-left: 5px solid #26a69a; border-radius: 8px; font-family: Arial, sans-serif; margin-top: 16px;">

  <h4 style="color:#00796b;"> Uniformiser les colonnes Localisation de l'entreprise et Broad Bean Origin
  </h4>

</div>

In [25]:
from transformation.uniformiser_pays import UniformiserPays

In [26]:
df=UniformiserPays.uniformiser(df,["Localisation de l'entreprise", "Broad Bean Origin"])

In [27]:
df.head(10)

,Company,Origine sp√©cifique du harirot,REF,Date de la revue,Pourcentage de cacao,Localisation de l'entreprise,Note,Type de f√®ve,Broad Bean Origin
0,A. Morin,Agua Grande,1876,2016,63.0,France,3.75,NaN,Sao Tome
1,A. Morin,Kpime,1676,2015,70.0,France,2.75,NaN,Togo
2,A. Morin,Atsane,1676,2015,70.0,France,3.00,NaN,Togo
3,A. Morin,Akata,1680,2015,70.0,France,3.50,NaN,Togo
4,A. Morin,Quilla,1704,2015,70.0,France,3.50,NaN,Peru
5,A. Morin,Carenero,1315,2014,70.0,France,2.75,Criollo,Venezuela
6,A. Morin,Cuba,1315,2014,70.0,France,3.50,NaN,Cuba
7,A. Morin,Sur del Lago,1315,2014,70.0,France,3.50,Criollo,Venezuela
8,A. Morin,Puerto Cabello,1319,2014,70.0,France,3.75,Criollo,Venezuela
9,A. Morin,Pablino,1319,2014,70.0,France,4.00,NaN,Peru

<div style="background: #e0fafa; padding: 20px 24px; border-left: 8px solid #008080; border-radius: 10px; font-family: 'Segoe UI', sans-serif; box-shadow: 0 1px 4px rgba(0,0,0,0.08); margin: 0 0 20px 0;">
  <h2 style="margin: 0; font-size: 18px; color: #005f5f;">Stockage dans data/interim</h2>
</div>

In [28]:
from data.load.save_interim_data import SaveInterimData

In [29]:
SaveInterimData.save(df)

Dataset interm√©diaire sauvegard√© dans : data/interim\cacao_interim.csv

<!-- üìä Statistiques descriptives -->
<div style="background: #f0faff; padding: 20px 24px; border-left: 8px solid #0892d0; border-radius: 10px; font-family: 'Segoe UI', sans-serif; box-shadow: 0 1px 4px rgba(0,0,0,0.08); margin: 0;">
  <h2 style="margin: 0; font-size: 18px; color: #0892d0;">üìä Statistiques descriptives des variables</h2>
</div>

In [30]:
df.describe(include='all')

,Company,Origine sp√©cifique du harirot,REF,Date de la revue,Pourcentage de cacao,Localisation de l'entreprise,Note,Type de f√®ve,Broad Bean Origin
count,1795,1795,1795.000000,1795.000000,1795.000000,1795,1795.000000,907,1721
unique,415,1037,NaN,NaN,NaN,60,NaN,40,99
top,Soma,Madagascar,NaN,NaN,NaN,U.S.A.,NaN,Trinitario,Venezuela
freq,47,57,NaN,NaN,NaN,764,NaN,419,214
mean,NaN,NaN,1035.904735,2012.325348,71.698329,NaN,3.185933,NaN,NaN
std,NaN,NaN,552.886365,2.927210,6.323118,NaN,0.478062,NaN,NaN
min,NaN,NaN,5.000000,2006.000000,42.000000,NaN,1.000000,NaN,NaN
25%,NaN,NaN,576.000000,2010.000000,70.000000,NaN,2.875000,NaN,NaN
50%,NaN,NaN,1069.000000,2013.000000,70.000000,NaN,3.250000,NaN,NaN
75%,NaN,NaN,1502.000000,2015.000000,75.000000,NaN,3.500000,NaN,NaN
max,NaN,NaN,1952.000000,2017.000000,100.000000,NaN,5.000000,NaN,NaN

<!-- ü©∫ V√©rification des valeurs manquantes -->
<div style="background: #f3eaf7; padding: 20px 24px; border-left: 8px solid #682860; border-radius: 10px; font-family: 'Segoe UI', sans-serif; box-shadow: 0 1px 4px rgba(0,0,0,0.08); margin: 0;">
  <h2 style="margin: 0; font-size: 18px; color: #682860;">ü©∫ V√©rification des valeurs manquantes</h2>
</div>

In [31]:
from package_exploration_data.valeur_manquante import ValeurManquante

In [32]:
ValeurManquante.calcul_valeur_manquante(df)

Company                            0
Origine sp√©cifique du harirot      0
REF                                0
Date de la revue                   0
Pourcentage de cacao               0
Localisation de l'entreprise       0
Note                               0
Type de f√®ve                     888
Broad Bean Origin                 74
dtype: int64

<!-- üè∑Ô∏è Encodage de la variable cible -->
<div style="background: #fcebea; padding: 20px 24px; border-left: 8px solid #722f37; border-radius: 10px; font-family: 'Segoe UI', sans-serif; box-shadow: 0 1px 4px rgba(0,0,0,0.08); margin: 0 0 20px 0;">
  <h2 style="margin: 0; font-size: 18px; color: #722f37;">Quel imputation choisir</h2>
  
</div>

In [33]:
from imputation.decision_imputation import DecisionImputation

In [34]:
DecisionImputation.analyser_et_afficher(df,["Type de f√®ve", "Broad Bean Origin"])

===== Rapport d'Analyse d'Imputation =====

Colonne : Type de f√®ve
   - Proportion de valeurs manquantes : 49.5% (888/1795)
   - Nombre de cat√©gories uniques : 40
   - Valeur la plus fr√©quente (mode) : Trinitario
   - Strat√©gie sugg√©r√©e : Unknown
   - Justification :
       * Taux interm√©diaire de valeurs manquantes : 49.5%.
       * Nombre √©lev√© de cat√©gories uniques : 40.
       * Imputation par le mode risquerait de d√©s√©quilibrer la distribution.
       * Solution retenue : remplacer par 'Unknown'.

Colonne : Broad Bean Origin
   - Proportion de valeurs manquantes : 4.1% (74/1795)
   - Nombre de cat√©gories uniques : 99
   - Valeur la plus fr√©quente (mode) : Venezuela
   - Strat√©gie sugg√©r√©e : mode
   - Justification :
       * Taux de valeurs manquantes faible : 4.1% (‚â§ 10%).
       * Imputation par la valeur la plus fr√©quente est fiable ('Venezuela').
       * Solution retenue : utiliser le mode.

<!-- ‚úÇÔ∏è S√©paration des donn√©es -->
<div style="background: #fff8e1; padding: 20px 24px; border-left: 8px solid #ffbf00; border-radius: 10px; font-family: 'Segoe UI', sans-serif; box-shadow: 0 1px 4px rgba(0,0,0,0.08); margin: 0 0 20px 0;">
  <h2 style="margin: 0; font-size: 18px; color: #ffbf00;"> Imputation par Autre de la colonne type de f√®ve</h2>
  
</div>

In [35]:
from imputation.imputation_autre import ImputationAutre

In [36]:
df=ImputationAutre.imputer_colonne(df, "Type de f√®ve")

In [37]:
df.head()

,Company,Origine sp√©cifique du harirot,REF,Date de la revue,Pourcentage de cacao,Localisation de l'entreprise,Note,Type de f√®ve,Broad Bean Origin
0,A. Morin,Agua Grande,1876,2016,63.0,France,3.75,Autre,Sao Tome
1,A. Morin,Kpime,1676,2015,70.0,France,2.75,Autre,Togo
2,A. Morin,Atsane,1676,2015,70.0,France,3.00,Autre,Togo
3,A. Morin,Akata,1680,2015,70.0,France,3.50,Autre,Togo
4,A. Morin,Quilla,1704,2015,70.0,France,3.50,Autre,Peru


<div style="background: #fce8dc; padding: 20px 24px; border-left: 8px solid #b7410e; border-radius: 10px; font-family: 'Segoe UI', sans-serif; box-shadow: 0 1px 4px rgba(0,0,0,0.08); margin: 0 0 20px 0;">
  <h2 style="margin: 0; font-size: 18px; color: #b7410e;"> Imputation par mod de la colonne Broad Bean Origin</h2>
  
</div>

In [38]:
from imputation.imputation_mod import ImputationMode

In [39]:
df=ImputationMode.imputer_colonne(df, "Broad Bean Origin")

In [40]:
df.head(79)

,Company,Origine sp√©cifique du harirot,REF,Date de la revue,Pourcentage de cacao,Localisation de l'entreprise,Note,Type de f√®ve,Broad Bean Origin
0,A. Morin,Agua Grande,1876,2016,63.0,France,3.75,Autre,Sao Tome
1,A. Morin,Kpime,1676,2015,70.0,France,2.75,Autre,Togo
2,A. Morin,Atsane,1676,2015,70.0,France,3.00,Autre,Togo
3,A. Morin,Akata,1680,2015,70.0,France,3.50,Autre,Togo
4,A. Morin,Quilla,1704,2015,70.0,France,3.50,Autre,Peru
...,...,...,...,...,...,...,...,...,...
74,Ambrosia,Peru,1498,2015,68.0,Canada,3.50,Autre,Peru
75,Amedei,"Piura, Blanco de Criollo",979,2012,70.0,Italy,3.75,Autre,Peru
76,Amedei,Porcelana,111,2007,70.0,Italy,4.00,Criollo (Porcelana),Venezuela
77,Amedei,Nine,111,2007,75.0,Italy,4.00,Blend,Venezuela
78,Amedei,Chuao,111,2007,70.0,Italy,5.00,Trinitario,Venezuela


<div style="background: #fff3f0; padding: 20px 24px; border-left: 8px solid #ff8c00; border-radius: 10px; font-family: 'Segoe UI', sans-serif; box-shadow: 0 1px 4px rgba(0,0,0,0.08); margin: 0;">
  <h2 style="margin: 0; font-size: 18px; color: #ff8c00;">Les doublons</h2>
</div>

In [41]:
from package_exploration_data.nbre_doublons import NbreDoublons

In [42]:
print(f" le nombre de doublons: {NbreDoublons.calcul_nbre_doublons(df)}")

 le nombre de doublons: 0

In [43]:
df.head()

,Company,Origine sp√©cifique du harirot,REF,Date de la revue,Pourcentage de cacao,Localisation de l'entreprise,Note,Type de f√®ve,Broad Bean Origin
0,A. Morin,Agua Grande,1876,2016,63.0,France,3.75,Autre,Sao Tome
1,A. Morin,Kpime,1676,2015,70.0,France,2.75,Autre,Togo
2,A. Morin,Atsane,1676,2015,70.0,France,3.00,Autre,Togo
3,A. Morin,Akata,1680,2015,70.0,France,3.50,Autre,Togo
4,A. Morin,Quilla,1704,2015,70.0,France,3.50,Autre,Peru

<div style="background: #e8f5e8; padding: 18px 20px; border-left: 8px solid #4caf50; border-radius: 10px; font-family: 'Segoe UI', sans-serif; box-shadow: 0 1px 4px rgba(0,0,0,0.08); margin: 0;">
  <h2 style="margin: 0; font-size: 18px; color: #2e7d32;">üì• √âtape 3 ‚Äî Chargement</h2>
  <p style="margin-top: 8px; font-size: 15px; color: #2e7d32;">
    Sauvegarde finale du dataset nettoy√© et pr√™t pour l'analyse
  </p>
</div>

<!-- üîÅ Validation crois√©e (Cross-validation) -->
<div style="background: #fde6e1; padding: 20px 24px; border-left: 8px solid #c97c74; border-radius: 10px; font-family: 'Segoe UI', sans-serif; box-shadow: 0 1px 4px rgba(0,0,0,0.08); margin: 0;">
  <h2 style="margin: 0; font-size: 18px; color: #a14339;">Stocker df dans data/processed</h2>
 
</div>

In [44]:
from data.load.save_processed_data import SaveProcessedData

In [45]:
SaveProcessedData.save(df)

Dataset interm√©diaire sauvegard√© dans : data/processed\cacao_clean.csv